.DS_Store
.idea/
.venv/
.env
.env.*
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
build/
dist/
site/
pip-wheel-metadata/
.python-version
*.ankiaddon
